header {
   text-align: center;
   background: #0F156B;
   position: relative;
   color: #D0D03D;
   height: 55px;
   margin-top: 0;
   margin: -20px;
   padding: 40px;
}

h1 {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}



body {
   text-align: center;
   background-color: white;
}

p {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #0F156B;
}

#won {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #0F156B;
}

#answers-text {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #0F156B;
}

#guesses-text {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #0F156B;
}

#letters-text {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #0F156B;
}

#lose {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #0F156B;
    padding: 25px;
    
}

img {
    opacity: 0.2;
    /* margin-top: -10px; */
    border-color: #0F156B;
    border-style: solid;
}

.container {
    position: relative;
}



.game {
    position: absolute;
    top: 50px;
    width: 100%;
}

